{{#if error_messages}}
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>{{ error_messages }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{#if success_messages}}
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>{{ success_messages }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{/if}}